.header {
  background-color: #080322;
  border-bottom: 1px solid #ddd;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  border: 1px solid red;
  color: #fff;
}

.header nav a {
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.header nav a:hover {
  color: #f27a1a;
}

.header nav {
  display: flex;
  align-items: center;
}
